.mt-5 .title-detail-product .mt-4{
    width: 501px;
    height: 66px;
    font-weight: 900;
    font-size: 48px;
    line-height: 66px;
    color: #BD0707;
}
#right-side-addtpg{
    margin-left: -17rem;
}
#detail-img-drink{
    height: 500px;
    border-radius: 10px;
}
.price-drink p {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #974A4A;
}
.toping-add p{
    color: #974A4A;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
}
.img-data-toping p {
    width: 160px;
    height: 19px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BD0707;
}
.img-data-toping img{
    margin-bottom: 2rem;
}
.price-data-toping p {
    width: 120px;
    height: 19px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BD0707;
    margin-top: -1rem;
}
.topping-datas{
    min-width: 8rem;
}