.mt-5 .title-detail-product .mt-4{
    width: 35rem;
    height: 66px;
    font-weight: 900;
    font-size: 48px;
    line-height: 66px;
    color: #BD0707;
}
#right-side-addtpg{
    margin-left: -10rem;
}
#detail-img-drink{
    min-height: 570px;
    max-height: 570px;
    min-width: 400px;
    max-width: 400px;
    border-radius: 10px;
}
.price-drink p {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #974A4A;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.toping-add p{
    color: #974A4A;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
}
.img-data-toping p {
    width: 160px;
    height: 19px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BD0707;
    margin-left: -1rem;
}
.img-data-toping img{
    margin-bottom: 2rem;
}
.price-data-toping p {
    width: 120px;
    height: 19px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BD0707;
    margin-top: -1rem;
}
.topping-datas{
    min-width: 8rem;
}
.sub-total .left-total {
    width: 55px;
    height: 33px;
    font-weight: 900;
    font-size: 24px;
    color: #974A4A;
}
.sub-total .right-total{
    width: 15rem ;
    height: 33px;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #974A4A;
    left: 66rem;
    position: absolute;
}   
#row-detail-product{
    margin-top: -2.8rem;
    margin-left: 2.5rem;
}
.btn-add-cart button {
    width: 576px;
    height: 40px;
    background: #BD0707;
    border-radius: 5px;
    border: none;
    color: #FFF;
}


.topping-detail-container{
    display: grid;
    grid-template-columns: repeat(4, minmax(90px, 1fr));
    column-gap: 1rem;
    row-gap: 1rem;
    height: 13.5rem;
    overflow: auto;
}

.picture-topping-detail{
    width: 4rem;
    height: 4rem;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}

.toppingCheckboxs{
    display:none;
}

.toppingCheckboxs:checked +label:after{
    content: url(/src/assets/img/checklist.png);
    position: absolute;
}

.picture-topping{
    width: 5.1rem;
    height: 5.2rem;
    border-radius: 50%;
    cursor:pointer;
}

#checkboxs:checked + label::after{
    position:absolute;
    width: 4rem;
    height: 4rem;
    opacity: 1;
}

.topping-variant-detail{
    width: 8rem;
    height: 1rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.topping-variant-detail p{
    font-size:0.8rem;
    font-weight: 700;
    color: #974A4A;
}